.header-separator {
  margin-top: 0; /* Optional: Adjust margin as needed */
  margin-bottom: 0;
  border: 0;
  border-top: 3px solid #aaa2a2; /* Customize the border color as needed */
}

.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
